#{extends 'main.html' /}

<h3>Write a new recipe</h3>

#{form @save()}

#{ifErrors}
<p class="error">
    Please correct these errors.
</p>
#{/ifErrors}

<p>
    #{field 'title'}
    <label>Recipe title:</label>
    <input type="text" name="${field.name}"
           value="${recipe?.title}" />
    <span class="error">#{error 'recipe.title' /}</span>
    #{/field}
</p>

<p>
    #{field 'ingredients'}
    <label>Enter some ingredients:</label>
    <input type="text"
           name="${field.name}" value="${recipe?.ingredients?.join(',')}" />
    #{/field}
</p>

<p>
    #{field 'steps'}
    <label>Write what to do here:</label>
    <textarea name="${field.steps}" value="${recipe?.steps}"></textarea>
    <span class="error">#{error 'recipe.steps' /}</span>
    #{/field}
</p>

<p>
    <input type="submit" value="All done? Publish this recipe!" />
</p>

#{/form}