*{Display a recipe as either title, summary or full}*

<div class="recipe">
    <h2 class="recipe-title">
        <a href="@{Application.show(_recipe.id)}">${_recipe.title}</a>
    </h2>
</div>

#{if _as == 'full' || _as == 'summary'}

    <ul id="ingredients">
        <p>You will need...</p>
        #{list items:_recipe.ingredients, as:'ingredient'}
        <li>
            ${ingredient}
        </li>
        #{/list}
    </ul>
#{/if}

#{if _as == 'full'}
    <div class="steps">
        ${_recipe.steps}
    </ol>
#{/if}

${_recipe.comments.size() ?: 'no'}
comment${_recipe.comments.size().pluralize()}

#{if _as == 'full'}
    #{list items:_recipe.comments, as:'comment'}
        <div class="comment">
            On ${comment.postedAt}, ${comment.author.name} said:
            ${comment.content}
        </div>
    #{/list}
#{/if}

#{else}

#{/else}