*{Display a recipe as either title, summary or full}*

<div class="recipe" xmlns="http://www.w3.org/1999/html">
    <h2 class="recipe-title">
        <a href="@{Application.show(_recipe.id)}">${_recipe.title}</a>
    </h2>
</div>

#{if _as == 'full' || _as == 'summary'}

    <b>Ingredients:</b>

    <ul id="ingredients">
        <p>
        #{list items:_recipe.ingredients, as:'ingredient'}
        <li>
            ${ingredient}
        </li>
        #{/list}
        </p>
    </ul>
#{/if}

<p>
#{if _as == 'full'}
    <div class="steps">

        <b>Instructions:</b>
        <p>
            ${_recipe.steps}
        </p>
    </ol>
#{/if}

#{if _as == 'summary'}
    <a href="@{Application.show(_recipe.id)}">Read more...</a>
#{/if}
</p>

#{if _as == 'full'}

    <b>Comments:</b>
    <p>
        #{list items:_recipe.comments, as:'comment'}
            <div class="comment">
                <b>${comment.author.name} said:</b>
                <p><i>${comment.content}</i></p>
                <small>Posted: ${comment.postedAt.format("dd-MM-YYYY HH:mm")}</small>
            </div>
        #{/list}
    </p>
#{/if}

#{else}

#{/else}