#{extends 'main.html' /}
#{set title:'snackasaurus' /}

<div id="login" class="row">

    <div class="span7 offset2 well">

        <h2>Reset your password:</h2>
    #{form @passwordReset()}

        #{ifErrors}
            <p class="error">
            ${errors}
            </p>
        #{/ifErrors}

        <p>
            #{field 'email'}
                <label>Your e-mail address:</label>
                <input class="span7" type="text" name="${field.name}" value="${user?.email}" />
            #{/field}
        </p>

        <p>
            <label for="code">Please type the code below: </label>
            <img src="@{Application.captcha(randomID)}" />
            <br />
            <input class="span7" type="text" name="code" id="code" size="18" value="" />
            <input type="hidden" name="randomID" value="${randomID}" />
        </p>

        <p>
            <input type="submit" value="Reset password" />
        </p>
    #{/form}
    </div>
</div>