#{extends 'main.html' /}
#{set title:'snackasaurus' /}

<div id="login" class="row">

    <div class="span7 offset2 well">

        <h2>Reset your password:</h2>
        #{form @changePassword()}

            #{ifErrors}
                <p class="error">
                ${errors}
                </p>
            #{/ifErrors}

            #{field 'emailAddress'}
                <input class="span7" type="hidden" name="${field.name}" id="emailAddress" value="${email}"/>
            #{/field}

            <p>
                #{field 'newPassword'}
                    <label>Your new password:</label>
                    <input class="span7" type="text" name="${field.name}" id="newPassword" value="" />
                #{/field}
            </p>

            <p>
                <input type="submit" value="Change password" />
            </p>
        #{/form}
    </div>
</div>