#{extends 'main.html' /}
#{set title:recipe.title /}

<ul class="pager">
    #{if recipe.previous()}
    <li class="previous">
        <a href="@{Application.show(recipe.previous().id)}">&larr; Previous</a>
    </li>
    #{/if}
    #{if recipe.next()}
    <li class="next">
        <a href="@{Application.show(recipe.next().id)}">Next &rarr;</a>
    </li>
    #{/if}
</ul>

#{display recipe:recipe, as: 'full' /}

#{if user}
<h3>Post a comment</h3>

#{form @Application.postComment(recipe.id)}
<p>
    <label for="author">Your email: </label>
    <input type="text" disabled="disabled" value=${email} name="author" id="author" />
</p>
<p>
    <label for="content">Your message: </label>
    <textarea name="content" id="content"></textarea>
</p>
<p>
    <input type="submit" value="Submit your comment" />
</p>
#{/form}
#{/if}
#{if !user}
<h3>Got something to say? <a href="/login">Login</a> to post a comment here.</h3>
#{/if}