<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="header">
            <div id="logo" class="row">
                <div id="logo-text" class="span8">snack a <strong>saurus</strong></div>
                <div id="logo-image" class="span4"><img src="/public/images/logo.jpg" alt="" /></div>
            </div>

            <div id="tools">
                <a class="tool-item" href="#">Login</a>
                <a class="tool-item" href="#">Search</a>
                <a class="tool-item" href="#">Help</a>
            </div>
        </div>

        <div id="content">
        #{doLayout /}
        </div>
        <div id="footer">
            matt bailey 2012 | <a href="mailto:matt@thebaileyresidence.co.uk">matt@thebaileyresidence.co.uk</a> | <a href="http://twitter.com/mattblankbailey">@mattblankbailey</a>
        </div>
    </body>
</html>
